@font-face {
  font-family: "HelveticaNeueLT";
  font-style: normal;
  font-weight: 300;
  src: local("HelveticaNeueLT Light"), local("HelveticaNeueLT-Light"), url("../../xeno/assets/light.woff") format("woff");
}

/* line 9, ../sass/main.sass */
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 16, ../sass/main.sass */
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #888888;
  background: url("../../xeno/assets/bg.jpg");
  background-size: cover;
}

/* line 28, ../sass/main.sass */
.variabol {
  position: fixed;
  font-family: "HelveticaNeueLT";
  left: 0;
  right: 0;
  top: 0;
  min-height: 50px;
  padding-bottom: 9px;
  background: #131212;
}
/* line 44, ../sass/main.sass */
.variabol .googool {
  margin-left: 10px;
  margin-top: 9px;
  height: 40px;
  display: inline-block;
}
/* line 53, ../sass/main.sass */
.variabol .simple {
  vertical-align: top;
}
/* line 57, ../sass/main.sass */
.variabol .simple input {
  border: none;
  font-size: 13px;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #515151;
  color: #c7c4c4;
  width: 50px;
  height: 30px;
  line-height: 40px;
  position: relative;
  top: 1px;
  padding-left: 2px;
}
/* line 82, ../sass/main.sass */
.variabol .simple input:hover, .variabol .simple input:focus {
  border-bottom-color: #6b6b6b;
  color: white;
}
/* line 87, ../sass/main.sass */
.variabol .check {
  background-color: #666666;
  float: left;
  color: #eeeeee;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  padding: 0 12px;
  -webkit-user-select: none;
  cursor: default;
}
/* line 106, ../sass/main.sass */
.variabol .check:hover {
  background-color: #555555;
}
/* line 110, ../sass/main.sass */
.variabol .checked {
  background-color: #333333 !important;
  color: white !important;
}
/* line 119, ../sass/main.sass */
.variabol .slide {
  color: #eeeeee;
}
/* line 124, ../sass/main.sass */
.variabol .slide .slider {
  position: relative;
  top: 20px;
  width: 160px;
  height: 6px;
  background: #555555;
}
/* line 136, ../sass/main.sass */
.variabol .slide .slider-handle {
  position: absolute;
  width: 30px;
  height: 20px;
  top: -3px;
}
/* line 147, ../sass/main.sass */
.variabol .slide .slider-handle:before {
  display: block;
  content: "\0020";
  width: 10px;
  height: 10px;
  background: #cccccc;
  opacity: 1;
}
/* line 160, ../sass/main.sass */
.variabol .slide .slider-handle:after {
  display: block;
  content: "\0020";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  position: absolute;
  border-color: #cccccc transparent transparent transparent;
  top: 10px;
}
/* line 183, ../sass/main.sass */
.variabol .slide .slider-handle:hover:after {
  border-color: white transparent transparent transparent;
}
/* line 187, ../sass/main.sass */
.variabol .slide .slider-handle:hover:before {
  background: white;
}
/* line 192, ../sass/main.sass */
.variabol .slide .slider-indicator {
  position: absolute;
  width: 24px;
  text-align: center;
  top: -22px;
  left: -7px;
  font-weight: bold;
  opacity: 0;
  transition: all 0.2s;
}
/* line 212, ../sass/main.sass */
.variabol .slide .slider-handle:hover .slider-indicator {
  opacity: 1;
}
/* line 216, ../sass/main.sass */
.variabol .slide .slider-filled {
  height: 100%;
  background: #cccccc;
  position: absolute;
  left: 0;
}
