doctype 5

html

	head

		title Timeline

		<meta charset="utf-8" />

		link(rel="stylesheet",href="../../styles/css/main.css")

		script(src="../../scripts/require.js")

		:coffeescript

			require.config

				baseUrl: "../../scripts/js/lib"

			require ['../../scripts/js/pages/script.js']

	body